@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes sometimes {
    0% { opacity: 0; }
    65% { opacity: 0; }
    75% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}


.glow {
    position: relative;
    z-index: 0;
}

.glow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite, sometimes 12s linear infinite;
    opacity: 1;
}


.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 2px;
}

div.glow:after{
    background-color: #fff;   
}


button.glow:after{
    background-color: #ddd;   
}

button.glow:hover:after {
    background-color:#bbb;
}

td {
    text-align:center;
}

td.diagonal {
    background-color:#eee;
}

td.diagonal h4 {
    font-size: 120%;
}

.pageSelection {
    border-style: solid; 
    border-width: 1px; 
    border-bottom-style: none;
    margin: 0.5em; 
    margin-bottom: 0;
    padding-bottom:0;
    padding: 0.5em; 
    display: block; 
    cursor: pointer;
}

.pageSelection.active {
    border-color: black; 
    border-width: 2px;
}

.pageSelection.inactive {
    border-color: gray; 
    color:gray;
}

h3 {
    margin-bottom: 0.2em;
}

.topContainer {
    color:black;
    margin:1em;
}

.scenarioPage {
    clear:both;
    border: 2px black solid;
    padding:1em;
    min-height: 100%;
}

.topContainer {
    min-height: 100%;
}

body, html {
    min-height: 100%;
}

.guessArea h4 {
    margin-bottom: 0;
}

.guess, .guessResultDesc{
    margin-left:1em;
}

.experiment {
    float:left;
}

h2.historyStart, .instance, .scenarioFooter, .afterHeader {
    clear:both;
}

.instance.history {
    border-top: 1px solid gray;
}

.pageSelectionBox {
    display:flex;
    flex-wrap: wrap;
}

.controlsTop {
    display: flex;
    border-bottom: 1px solid;
    padding-bottom: 0.75em;
}


.stats {
   padding-left: 0.75em;
   border-left: 1px solid;   
}

.scenarioHeader {
    padding-right: 1em;
}

.popupBackground {
    position:fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: #00000080;
}

.popup {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 30em;
  margin-left: -15em;
  background-color: white;
  padding: 1em;
}

.popup .left {
    float:left;
}

.popup .right {
    float:right;
}

button {
    font-size:120%;
    padding:0.3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    cursor: pointer;
}

select {
    cursor: pointer;
}

input, select {
    font-size: 120%;
}

.homework {
}

.nChooser .num{
    width: 4em
}


.nChooser .range {
    vertical-align: top;
}

.instructions p, .scenarioHeader p {
    max-width: 50em;
    text-align:justify;
}

table {
    border-collapse: collapse;
}

table tr td, table tr th {
    padding:0.5em;
}

.ratioRow td, .ratioRow th {
    border-top: 1px solid black;
}

.ratioCol {
    border-left: 1px solid black;
}

.yName {
    text-align: center;
    writing-mode: sideways-lr;
    min-width: 2em;
}

th.xName {
    text-align: center;
}